.main-head {
  background: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: sticky;
  top: 0;
}

nav {
  @include flex(space-between, center, row);
  width: 90%;
  margin: 0 auto;
  min-height: 10vh;
  .co-name {
    @include flex(start, center, row);
    flex: 2 1 30rem;
    img {
      padding-top: 1rem;
    }
    h1 {
      margin-left: 4rem;
      color: $grey-text;
      font-weight: 400;
    }
  }
  ul {
    @include flex(space-between, center, row);
    flex: 1 1 30rem;
  }
}
