* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  color: #2c2c2c;
}

li,
button,
label,
input,
textarea,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4.8rem;
  color: black;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  background: white;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 0 auto;
  min-height: 10vh;
}

nav .co-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30rem;
          flex: 2 1 30rem;
}

nav .co-name img {
  padding-top: 1rem;
}

nav .co-name h1 {
  margin-left: 4rem;
  color: #2c2c2c;
  font-weight: 400;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 30rem;
          flex: 2 1 30rem;
}

.intro-text h2 {
  letter-spacing: 0.6rem;
  font-weight: 400;
}

.intro-text h2 span {
  color: #ff51fc;
}

.intro-text p {
  padding-top: 3rem;
}

.intro-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
}

#dogtail {
  -webkit-animation: tail 1s infinite alternate;
          animation: tail 1s infinite alternate;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#tree1,
#tree2,
#tree3 {
  -webkit-animation: tree 2s infinite alternate;
          animation: tree 2s infinite alternate;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#bird,
#bird_2,
#bird_3 {
  -webkit-animation: bird 30s ease forwards;
          animation: bird 30s ease forwards;
  background: #ff51fc;
}

@-webkit-keyframes tail {
  from {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  to {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
}

@keyframes tail {
  from {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  to {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
}

@-webkit-keyframes tree {
  from {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  to {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
}

@keyframes tree {
  from {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  to {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
}

@-webkit-keyframes bird {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(100%, 10%);
            transform: translate(100%, 10%);
  }
}

@keyframes bird {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(100%, 10%);
            transform: translate(100%, 10%);
  }
}
/*# sourceMappingURL=styles.css.map */